<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>页面首页8201</h1>
	<form action="../user/list" method="post">
		<input type="submit" value="查询"/>
	</form><br/>
	<hr>
	<form action="../system/logout" method="post">
		<input type="submit" value="登出"/>
	</form><br/>
	<hr>
	<form action="../workflow/releaseProcess" method="post"  enctype="multipart/form-data">
		<input type="file" name="file">
		<input type="submit" value="upload"/>
	</form>
</body>
</html>