<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<property name="LOG_HOME" value="/mnt/logs/comprehensive" />
	<property name="APP_LEVEL" value="INFO"></property>
	<!-- 输出到控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{MM-dd HH:mm:ss}][%thread][%-5level][%logger{5}] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- 操作INFO日志 -->
	<appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/info/info-%d{yyyy-MM-dd}.log	</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{MM-dd HH:mm:ss}][%thread][%-5level][%logger{5}] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<!-- 操作ERROR信息 -->
	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/error/error-%d{yyyy-MM-dd}.log	</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{MM-dd HH:mm:ss}][%thread][%-5level][%logger{5}] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	
	
	<!-- 接口模块 -->
	<appender name="INTERFACE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/interface/interface-%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{MM-dd HH:mm:ss}][%thread][%-5level][%logger{5}] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		<!-- 过滤掉TRACE和DEBUG级别的日志 -->
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	
	<!-- 记录工作流信息 -->
	<appender name="WORKFLOW_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/workflow/workflow-%d{yyyy-MM-dd}.log	</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{MM-dd HH:mm:ss}][%thread][%-5level][%logger{5}] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- 过滤掉TRACE和DEBUG级别的日志 -->
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	
	<!-- 记录短信发送信息 -->
	<appender name="MESSAGE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/message/message-%d{yyyy-MM-dd}.log	</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{MM-dd HH:mm:ss}][%thread][%-5level][%logger{5}] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- 过滤掉TRACE和DEBUG级别的日志 -->
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	
	<!-- 记录全局结果异常捕获的信息 -->
	<appender name="EXCEPTION_LOG"	class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/exception/exception-%d{yyyy-MM-dd}.log	</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{MM-dd HH:mm:ss}][%thread][%-5level][%logger{5}] - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<!-- 该过滤器只记录ERROR级别的日志 -->
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>
	<logger name="root" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<!-- 记录短信发送信息 -->
	<logger name="INTERFACE_LOG" level="${APP_LEVEL}">
		<appender-ref ref="INTERFACE_LOG" />
	</logger>

	<!-- 操作日志 -->
	<logger name="OPERATION_LOG" level="${APP_LEVEL}">
		<appender-ref ref="INFO" />
		<appender-ref ref="ERROR" />
	</logger>
	
	<!-- 记录工作流信息 -->
	<logger name="WORKFLOW_LOG" level="${APP_LEVEL}">
		<appender-ref ref="WORKFLOW_LOG" />
	</logger>
	
	<!-- 记录短信发送信息 -->
	<logger name="MESSAGE_LOG" level="${APP_LEVEL}">
		<appender-ref ref="MESSAGE_LOG" />
	</logger>

	<!-- 记录全局结果异常 -->
	<logger name="EXCEPTION_LOG" level="${APP_LEVEL}">
		<appender-ref ref="EXCEPTION_LOG" />
	</logger>


	<logger name="com.ibatis" level="DEBUG" />
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
	<logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.Statement" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />
</configuration>